#header_box {
    background-color: #000000;
}

#footer {
	background: #BBCCEE;
    color: #2F2F2F;
    text-align: center;
    vertical-align: middle;
}

a:link{text-decoration : none ;color : #c00 ;}
a:visited {text-decoration : none ;color : #c30 ;}
a:hover {text-decoration : underline ;color : #f60 ;}
a:active {text-decoration : none ;color : #F90 ;}


.banner {
    font:bold 26px "汉真广标";
    float: left;
    margin:0;
    padding:0;
    color: #0F0FAF;
    border:0 none;
    overflow:hidden;
    text-indent: 0 em;
    text-align: left;
    _position:relative;
    _top: 16%;
 }
.logo{
    float:left;
    margin:0px 0 0px 10px
}
.topmenu {

    line-height: 20px;
    float: right;
    height: 20px;
    margin: 0;
    padding: 0 10px 0 0;

    font:bold 10px verdana;
    margin:0;
    color: blue;
    border:0 none;
    overflow:hidden;
    _position:relative;
    _top: 5%;
}

.settings {
    background-image:url(/foundation/ext/resources/icons/fam/folder_wrench.png);
}
